h1{
    background-color: azure;
    text-align: center;

}

div{
    background-color:  rgb(57, 140, 143);
    padding: 100px;
    text-align: center
    
}
body{
    background-color: rgb(7, 34, 44);
}

    nav{
        text-align: center;
        
       
       
        
    }
    a{
       text-decoration: none;
       margin: 0 10px;
       font-size: larger;
       border-top: 1px solid azure;
       border-bottom: 1px solid azure;
       color: azure;
       
    }
    header{
        display: flex;
        justify-content: space-around;
        background-color: rgb(2, 26, 27); 
        align-items: center;
        padding: 10px;
    }

    h2{
        color: azure;
       font-family: sans-serif;
       text-align: center;
       font-size: 100px;
       margin-bottom: 300px;
       border: 5px solid;
        
      
       
    }
    p{
    color: azure;
    padding: 1px;
    margin-top: 100px;
    font-size: x-large;
    font-family:cursive
    
    
    
}
    
li{
    color: azure;
    
    
}
.fitter{
    padding: 200px;
    text-align: center;
    align-items: center;
    
}
.instagram{
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
footer{
    background-color: black;
}
q{
    color: rgb(0, 0, 0);
    
    font-family: fantasy;
    font-size: 30px;
    
}
img{
    height: 600px;
    padding: 10px;
    border: 10px dotted;
    
}
ul{
    background-color: rgb(141, 141, 136);
    padding: 10px;
}
li{
    background-color: rgb(141, 141, 136) ;
}