h1{
    background-color: azure;
    text-align: center;

}

div{
   
    padding: 100px;
    text-align: center
    
}



    nav{
        text-align: center;
        
       
       
        
    }
    a{
       text-decoration: none;
       margin: 0 10px;
       font-size: larger;
       border-top: 1px solid azure;
       border-bottom: 1px solid azure;
       color: azure;
       
    }
    header{
        display: flex;
        justify-content: space-around;
        background-color: rgb(2, 26, 27); 
        align-items: center;
        padding: 10px;
    }

    h2{
        color: azure;
       font-family: sans-serif;
       text-align: center;
       font-size: 100px;
       margin-bottom: 300px;
       border: 5px solid;
       
        
      
       
    }
    p{
    color: rgb(2, 14, 14);
    padding: 1px;
    margin-top: 80px;
    font-size: 35px;
    font-family:cursive;
    margin-bottom: 200px;
    
    
    
    
}
    
li{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: monospace;
}
.fitter{
    padding: 300px;
    text-align: center;
    align-items: center;
    
    
}
.instagram{
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}
footer{
    background-color: black;
}
q{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
   display: inline-block;
    
    
    
}
img{
    height: 600px;
    padding: 10px;
    border: 10px dotted;
    margin-left: 100px;
    margin-top: 5px;
    
}
ul{
   
    padding: 10px;
}

    

.Portfolio{
    font-size:50px;
    margin: 0px;
    
}
.newp{
    padding: 0%;
    color: azure;
   
}
.linked{
    height: 55px;
    width: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
